.spotify-track-card{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    // width: auto;
    // height: auto;
    resize:both;
    border: 2px solid grey;
    cursor: pointer;
   

    &__image {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__index {
        font-size: xxx-large;
    }
    
    &__list {
        background: linear-gradient(
            140deg,
            purple 0%,
            blue 20%,
            darkblue 40%,
            purple 80%,
            grey 100%,
            );
            
        color: white;
        width: 100%;
        padding-left:0.5rem;
        text-align: left;

        &--title{      
            font-weight: bold;
        }
        
        &--artists{
            font-size: small;
            font-weight: 400;
        }
    }
}