
.spotify-top-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1500px;
    &__header{
        display:flex;
        display:row;
        gap: 2rem;
        border: 2px solid whitesmoke;
        &--button{
            height: fit-content;
            align-self: center;
        }
    }
}

.spotify-top-list {
    flex-direction: column;
    justify-items: center;

    &__header {
        margin-block: 1rem;;
        display: flex;
        justify-self: center;
        padding-inline: 2rem;
    }
}