.spotify-artist-card{
    margin: 0.5rem;
    min-height: 200px;
    resize:both;
    border: 2px solid grey;

    &__font {
        font-weight: bold;
        // color:purple;
        // color:black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        color:white;
        color: darkcyan;
        // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        // text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
        // font-size:medium;
        // font-size: small;
        // // some playing around with difference. But can't quite get it to look good, eg. on Babymetal
        // color: white;
        // font-weight: 500;
        // text-align: left;
        // mix-blend-mode: difference;
        mix-blend-mode:multiply;
        // text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    &__list {
        width: 100%;

        &--title{            
            width:100%;
            padding-left:0px;
            font-size: x-large;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;

            &__index{
                padding-left: 1rem;
                text-align: left;
            }
            &__name{
                width:100%;
                text-align: center;
            }
        }

        &--item, &--item-v2 {
            text-align: left;
        }

        &--item {
            padding-left: 1rem;            
        }
        
    }
}